/*WAVES*/
.custom-shape-divider-bottom-1689571958 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689571958 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1689571958 .shape-fill {
    fill: #4CBD79;
}
.waveContainer{
    position: relative;
    margin-top: 10%;
}

/*Contact */
.contactTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactTitle > h3{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2vh;
}
.contactTitle > p{
    text-align: center;
    color: #fff;
    width: 60%;
    padding-bottom: 2vh;
    font-size: 1.3rem;
}
.contactSection{
    height: 100vh;
    background-color: #4CBD79 ;
    display: flex;
    flex-direction: column;
}
#contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
}
.contactButton{
    padding: 0.8rem;
    background-color: transparent;
    border-radius: 10px;
    width: 50%;
    color: #fff;
    border: 2px solid #fff;
}
.contactButton:hover{
    background-color: #fff;
    color: #4CBD79;
    cursor: pointer;
}
@media (min-width: 778px) {
    #contact{
        flex-direction: row;
        justify-content: center;
        height: 40%;
    }
    .contactSection{
        height: 85vh;
        background-color: #4CBD79 ;
        display: flex;
        flex-direction: column;
    }
    .contactButton{
        padding: 0.8rem;
        background-color: transparent;
        border-radius: 10px;
        width: 40%;
        color: #fff;
        border: 2px solid #fff;
        font-size: 1.2rem;
    }
    .contactButton:hover{
        background-color: #fff;
        color: #4CBD79;
        cursor: pointer;
    }
    .iconContainer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
        width: 30%;
    }
}