/*WAVES*/
.custom-shape-divider-bottom-1689571958 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689571958 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 69px;
}

.custom-shape-divider-bottom-1689571958 .shape-fill {
    fill: #4CBD79;
}
.waveContainer{
    position: relative;
    margin-top: 20%;
}

/*Contact */
.contactSection{
    height: 80vh;
    background-color: #4CBD79 ;
}
#contact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iconContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
}
.contactButton{
    padding: 0.8rem;
    background-color: transparent;
    border-radius: 10px;
    width: 40%;
    color: #fff;
    border: 2px solid #fff;
}