section{
    height: 100%;
    padding-bottom: 8vh;
    padding-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects_container{
    width: 80%;
    padding: 2rem;
}
.projects_container > h2{
    width: 100%;
    font-size: 3.3rem;
}