/*Verde : #4CBD79*/

/*Contenedores*/
.nav_container{
    background-color: #f9f9f7 ;
    width: 96%;
    height: 12vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    z-index: 10;
}
.nav_links_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    height: 100%;
}

/*Elementos del nav*/
.nav_links{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row ;
    align-items: center;
}
.nav_links > a{
    width: 25%;
}
.nav_links > a :hover{
    cursor: pointer;
}
.nav_links > a > li{
    color: rgba(0,0,0,.55);
    list-style: none;
    width: 100%;
    text-align: left;
    font-size: larger;
}

.active_li{
    color: rgba(0,0,0,.55);
    list-style: none;
    width: 100%;
    text-align: left;
}
.active_li::after{
    content: '';
    display: block;
    width: 70%;
    height: 2px;
    background: #4CBD79;
    transition: width .3s;
}