/*Contenedores*/
.nav_container{
    width: 100%;
    height: 12vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}
.nav_links_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.logo_container{

}
/*Elementos del nav*/
.nav_links{
    color: rgba(0,0,0,.55);
    list-style: none;
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
}