/*Verde : #4CBD79*/

/*Contenedores*/
.nav_container{
    background-color: #f9f9f7 ;
    width: 96%;
    height: 12vh;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
}
.nav_links_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    height: 100%;
}

/*Elementos del nav*/
.nav_links{
    color: rgba(0,0,0,.55);
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row ;
    align-items: center;
}
.nav_links > li{
    width: 25%;
    text-align: left;
    font-size: larger;
}