.exel_container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    padding-bottom: 2em;
    border-bottom: 1px solid #dee2e6 ;
}

.exel_icon{
    margin-top: 1.5em;
    margin-right: 1em;
}

.exel_content > span{
    color: #999ea1;
}
.exel_content > h3{
    font-size: 2rem;
}
.exel_content > h4{
    color: #4CBD79;
    font-weight: 400;
    font-size: 1.8rem;
}

.exel_content > ul >li{
    font-size: 1.5rem;
}