#heroContainer{
    height: 135vh;
    background: #001a23;
}
#mainContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#textContainer{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
}
#mainText{
    font-size: 4rem;
    font-family: "Domine";
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    letter-spacing: 3px;
}
#profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #b3ffb2;
}
.subText{
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}


@media screen and (min-width : 760px) {
    #heroContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background : linear-gradient(
        to right,
        #001a23 0%,
        #001a23 70%,
        #b3ffb2 70%,
        #b3ffb2 100%
      );
    }
    #textContainer{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 2%;
        height: 100%;
        width: 45%;
    }
    #mainContent{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
    }
    #mainText{
        font-size: 4rem;
        font-family: "Domine";
        color: #FFFFFF;
        text-align: left;
        width: 100%;
        letter-spacing: 3px;
    }
    #profileImg{
        width: 35%;
        background-color: transparent;
        display: block;
    }
    .subText{
        color: #FFFFFF;
        width: 100%;
        text-align: left;
    }
    
}

