.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background: linear-gradient(
    to top,
    #b3ffb2 0%,
    #b3ffb2 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}
#mainText{
    font-size: 90px;
    font-family: "Domine";
}
#mainText::after{
    mix-blend-mode: difference;
    color: white;
}